@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .card-select:hover {
        box-shadow: 10px 10px 20px lightskyblue;
        /* z-index: 10; */
        /* transform: scale(2); */
        transform: translateY(-50px) scale(1.25);
        transition: transform 500ms ease-in-out;
        opacity: 90%;
        
    }
    .hand {
        margin-right: 15px;
        padding-top: 2px;
        max-width: 100vw;
        display: grid;
        grid-template-columns: repeat(20, 4.5vw);
        grid-auto-flow: row;
        align-items: center;
        justify-content: center;
        transform: scale(.84);
        
    }
    .hand>* {
        /* margin-right: calc(-.20 * 100vw) ; */
        margin-top: 2px;
        
    }

    .leave-button {
        background-color: white;
        color: red;
        width: 100%;
        border-width: 2px;
        border-color: red;
        position: fixed;
        bottom: 0;
        padding-bottom: 2px;
        margin-bottom: 1px;
        margin-top: 2px;
        font-size: 22px;
        border-radius: 20px;
        font-weight: 400;
    }
    
        
}