{% extends "layout.html" %}
{% block title %} Crazy 8's - A game with friends {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div>
      <header>
        <h1>Crazy 8's</h1>
      </header>
      <main >
        <form id="start">
          <input type="text" id="name" placeholder="Name">
          <br>
          <input id="room" type="text" placeholder="Room Code" />
        </form>
        <p>
          Play cards with friends!
        </p>
        <a id="join" href="#" onclick="join()" >Join Game</a>
        <a id="create" href="/admin" >Create a game</a>
      </main>
    </div>
    <footer></footer>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}