{% extends "layout.html" %}
{% block title %} Crazy 8's - Play {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div>
      <main>
        <form id="start">
          <header>
            <h1>
              Crazy 8's
            </h1>
          </header>
          <input id="name" type="text" maxlength="100" placeholder="Your name">
          <br>
          <button type="submit" id="join" >Play</button>
        </form>
        <div id="panel">
          <div id="state">Waiting...</div>
        </div>
      </main>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='play.js') }}"></script>
    <script>
    window.onbeforeunload = function(){
      return "Are you sure you want to close the window?";
    }
    </script>
{% endblock %}