<!DOCTYPE html>   
<html>   
<head>  
<meta name="viewport" content="width=device-width, initial-scale=1">  
<title> Sign-up Page </title>  
<link rel="stylesheet" href="static/styles/signup1.css" type="text/css">
</head>    
<body>    
    <center><h1> Crazy 8's Sign-up Form </h1></center>
    <div id='validate'></div>
    <div class="container">  
        <form>  
            <label>Name: </label> 
            <label>Username : </label>   
            <input type="text" placeholder="Enter Username" name="username" required>  
            <label id="pass">Password : </label>   
            <input id="pass1" type="password" placeholder="Enter Password" name="password" required> 
            <label>Re-enter password</label> 
            <input id="pass2" type="password" placeholder="Re-enter Password" name="re-enter password" required>
            <script src="static/scripts/signup.js"></script>
            <button type="submit" id="btn1">Submit</button>  
            <button type="submit" class="cancelbtn" value="Cancel" formnovalidate><a href="{{ url_for('home') }}">Cancel</a></button>
            <button type="submit" class="logbtn" value="Cancel" formnovalidate><a href="{{ url_for('login') }}">Login</a></button>
        </form>     
    </div>   
</body>     
</html>  