{% extends "layout.html" %}
{% block title %} Crazy 8's - Game Admin {% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div>
    <header>
      <h1>Crazy 8's Login</h1>
    </header>
    <main >
      <form id="start">
        <input type="text" id="name" placeholder="User Name" required>
        <br>
        <input id="pass1" type="text" placeholder="Password" required/>
        <br>
        <input id="pass2" type="text" placeholder="Re-Enter Password" required/>
      </form>
      <p>
        Play cards with friends!
      </p>
      <a id="join" href="#" onclick="" >Create Account!</a>
      <a id="create" href="/" >Cancel</a>
    </main>
  </div>
  <footer></footer>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='signup.js') }}"></script>
{% endblock %}