Body {  
    font-family: Calibri, Helvetica, sans-serif;  
    background-color: grey;  
    width: 100%;
  }  
button {   
        background-color: #4CAF50;   
        width: 100%;  
        color: orange;   
        padding: 15px;   
        margin: 10px 0px;   
        border: none;   
        cursor: pointer;   
        }   
form {   
        border: 3px solid #f1f1f1;  
        width: 100%;
        max-width: 300px;
        height: 400px; 
        background-color: lightblue;  

    }   
input[type=text], input[type=password] {   
        width: 100%;   
        margin: 8px 0;  
        padding: 12px 20px;   
        display: inline-block;   
        border: 2px solid green;   
        box-sizing: border-box;   
    }  
button:hover {   
        opacity: 0.7;   
    }   
.cancelbtn {   
        width: auto;   
        padding: 10px 18px;  
        margin: 10px 5px;  
        background-color: red;
        color: white;
    } 
.container {  
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 25px;   
    }
#back {
    display: grid;
}
.logbtn {
    width: auto;   
    padding: 10px 18px;  
    margin: 10px 5px; 
    background-color: white;
    color: green;
}